public-hoist-pattern[]=*swc*
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@supabase/*
public-hoist-pattern[]=zod
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
enable-pre-post-scripts=true
registry=https://registry.npmjs.org/
node-mirror:release=https://nodejs.org/download/release/
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-timeout=300000
strict-ssl=true
legacy-peer-deps=true
prefer-frozen-lockfile=false
verify-store-integrity=false
resolution-mode=highest 